* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --clr-primary-100: hsl(110, 100%, 90%);
  --clr-primary-900: hsla(108, 100%, 13%, 0.781);
  --clr-accent-500: hsla(0, 100%, 7%, 0.534);
  --clr-accent-900: hsl(0, 100%, 7%);
}

body {
  background-color: var(--clr-primary-900);
}
.input {
  text-align: center;
}

input[type="text"] {
  display: block;
  font-size: 1.3rem;
  /*height: 3rem;*/
  width: 43%;
  margin: 5rem auto 0.5rem;
  padding: 1rem;
}

input[type="text"]::placeholder {
  color: var(--clr-accent-500);
}

input[type="text"]:hover,
input[type="text"]:focus {
  transform: scale(1.05);
  transition: transform 0.25s ease-in-out;
  outline-style: none;
  box-shadow: 0 0 8px 2px var(--clr-primary-100);
  border: none;
}

.suggestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
}

.suggestion-item {
  width: 25rem;
  height: 9%;
  font-size: 1.2rem;
  color: var(--clr-accent-500);
  background-color: var(--clr-primary-100);
  border: 1px solid var(--clr-primary-100);
  list-style: none;
  line-height: 2;
}

/*** styling for suggestions drop down ***/
.solutions {
  color: var(--clr-accent-900);
}
