* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-family: sans-serif;
}

body {
  background-color: hsla(108, 100%, 13%, 0.781);
}

input[type="text"] {
  display: block;
  height: 3rem;
  width: 35rem;
  margin: 5rem auto 1rem;
  /* background-color: transparent; */
}

input[type="text"]::placeholder {
    padding: 0 1rem;
    color:hsla(0, 100%, 7%, 0.534);
}

input[type="text"]:hover,
input[type="text"]:focus {
  transform: scale(1.05);
  transition: transform 0.25s ease-in-out;
  outline-style: none;
  box-shadow: 0 0 10px 5px rgb(212, 255, 203);
  border: none;
}
